# Ignorer fichiers Python compilés
*.pyc
__pycache__/

# Ignorer fichiers de modèle 
*.pkl
*.joblib



fake_news_detector/data/processed/train_cleaned.csv
fake_news_detector/data/raw/Fake.csv
fake_news_detector/data/raw/True.csv
